<h1>Recipies for "<%= params[:search] %>"</h1>
<%= link_to "Retun to home", root_path, class:"btn btn-info bt1" %>
<div class="cards">
  <% @recipies.each do |recipie| %>
    <%= link_to recipie_path(recipie["id"]) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= recipie["image"] %>)">
        <%= recipie["title"] %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="pages">
  <%= link_to "Last page", recipies_path(search: params[:search], page: @page - 1), class:"btn btn-ghost" %>
  <select onChange="window.location.href=this.value" class="form-control" id="exampleFormControlSelect1">
    <% number = 0 %>
    <%= @pages.times do %>
    <% x = number += 1 %>
      <option value="/recipies?search=<%= params[:search] %>&page=<%= x %>"><%= x %></option>
    <% end %>
  </select>
  <%= link_to "Next page", recipies_path(search: params[:search], page: @page + 1), class:"btn btn-ghost" %>
</div>